{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

set -e # -e: exit on error

# Check if xcode command line tools are installed
if [ "$(xcode-select -p > /dev/null 2>&1; echo $?)" -eq 0 ]; then
    echo "🎉 Command line tools found!";
else
    echo "❌ Command line tools not found, install with: xcode-select --install";
    exit 1;
fi

echo "👍 Initial checks look good!";
{{ end }}
